.header {
  display: grid;
  grid-template-columns: 5% 135px auto 300px 5%;
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin-top: 1px;
}

.header > .logo {
  grid-column-start: 2;
  background-image: url("../../assests/brand.png");
  background-position: center;
  background-size: cover;
}
.header > .avatar-v1 {
  display: grid;
  grid-template-columns: auto auto;
}
.header > .avatar-v1 > .avatar-pic {
  width: 100px;
}
.header > .avatar-v1 > .avatar-pic > img {
  width: 100%;
}
.header > .avatar-v1 > .avatar-desc {
  padding: 10px 0 10px 0;
}
.client {
  display: grid;
  align-content: center;
  padding: 2%;
}
